/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Color Theme Swatches in RGBA */
/* Color Theme Swatches in RGBA */
body {
  font-family: "Montserrat", sans-serif;
  background-color: #18343f;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 30px;
}

.groceries__title {
  font-size: 2rem;
  padding: 30px;
  text-align: center;
  color: white;
}
.groceries__inputcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
}
.groceries__input {
  margin-right: 20px;
  background-color: white;
  /* Green */
  border: 1px solid black;
  color: black;
  padding: 10px 25px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.groceries__button {
  background-color: #d8d8d8;
  /* Green */
  border: none;
  color: black;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.groceries .list__item {
  background-color: #2b5059;
}
.groceries .list__item:nth-child(even) {
  background-color: #4da5a5;
}

.shoppingcart__inputcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
}
.shoppingcart__title {
  font-size: 2rem;
  padding: 30px;
  text-align: center;
  color: white;
}
.shoppingcart__button {
  background-color: #d8d8d8;
  /* Green */
  border: none;
  color: black;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.shoppingcart .list__item {
  background-color: #646a8c;
}
.shoppingcart .list__item:nth-child(even) {
  background-color: #404459;
}

.list__item {
  padding: 20px;
  margin-bottom: 2px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=index.css.map */